* {
  margin: 0;
}

ul {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1em;

}

li {
  display: inline;
  text-decoration: none;
  list-style-type: none;
  padding: 2em;
}

a {
  text-decoration: none;
  color: white;
}

a :active {
  text-decoration: none;
  color: white;
}

a :visited {
  text-decoration: none;
  color: white;
}